<div class="row no-gutters">
	<div class="col-lg-4 col-md-3"></div>
	<div class="col-lg-4 col-md-6 col-sm-12 bg-primary">
		<div class="content-section-heading text-center text-white">
			<p class="h2 mb-2">{{ include.section-heading }}</p>
		</div>
	</div>
	<div class="col-lg-4 col-md-3"></div>
</div>
<div class="mt-5 text-center">
	<div class="row no-gutters">
		<div class="d-none d-md-block col pl-5 pr-5">
			<p class="lead">{{ include.section-content }}</p>
		</div>
		<div class="d-md-none col-12 pl-2 pr-2">
			<p class="lead">{{ include.section-content }}</p>
		</div>
	</div>
	
	{% if include.button-next-id %}
		<a class="mt-3 btn btn-secondary btn-lg js-scroll-trigger text-uppercase" href="#{{ include.button-next-id }}">{{ include.button-next-text }}<br/><i class="fas fa-angle-down"></i></a>
	{% endif %}
</div>